@charset "UTF-8";

:root {
    --cor-azul-1: #02516B;
    --cor-azul-2: #22596B;
    --cor-azul-3: #048BB8;
    --cor-azul-4: #05B2EA;
    --cor-azul-5: #4CC6EE;
}

@media screen and (min-width: 768px) {

    main {
        width: 800px;
    }
}