@charset "UTF-8";

:root {
    --cor-azul-1: #02516B;
    --cor-azul-2: #22596B;
    --cor-azul-3: #048BB8;
    --cor-azul-4: #05B2EA;
    --cor-azul-5: #4CC6EE;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--cor-azul-1), var(--cor-azul-4));
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    div#imagem {
        width: 40%;
        height: 100%;
        float: left;
    }

    div#formulario {
        width: 60%;
        height: 100%;
        float: right;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--cor-azul-1), var(--cor-azul-4));
    }

    section#login {
        width: 950px;
        height: 390px;
    }

    div#imagem {
        width: 50%;
        height: 100%;
        float: right;
    }

    div#formulario {
        width: 50%;
        height: 100%;
        float: left;
        font-size: 1.2em;
    }

    div.campo, input[type=submit], a.botao {
        height: 45px;
    }

    div.campo input {
        width: calc(100% - 46px);
        transform: translateY(-15px);
    }
}